<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User page</title>
</head>
<body>
<h3 th:inline="text" style="text-transform:uppercase">[[${#httpServletRequest.remoteUser}]] page</h3>
<p><a th:href="@{/user/info}">Мои данные</a></p>
<p><a th:href="@{/user/product}">Список товаров</a></p>
<p  style="color: gray">* Для отображения данных конкретного товара добавьте id в строке URL. Например: "product/1"</p>
<!--<p  style="color: gray">* Чтобы купить товар используйте конструкцию в строке URL. Например: "product/1/buy/2 - где 2 количество к покупке"</p>-->
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>